.centered {
  margin: auto;
  text-align: center;
  width: 768px;
  margin-bottom: 10px;
}

.two-numbers {
  float: left;
  width: 25%;
}

.number {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background: #ededed;
  border-radius: 3px;
  box-shadow: 0 3px 0 #a1a1a1;
  color: #242a34;
  font-family: 'League Gothic', sans-serif;
  font-size: 4.1em;
  padding: .6em 0 .5em;
  text-align: center;
  width: 1.25em;
}

.number-sub {
  color: #ededed;
  display: block;
  font-family: 'League Gothic', sans-serif;
  font-size: 1.85em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1em;
}
