<!-- <div class='eight columns'>
  <table class='schedule white'>
    <tr><td colspan='2'><strong><%= @t %></strong></td></tr>
    <% @rounds.each do |r| %>
      <tr>
        <th><%= r['time'] %></th>
        <td><%= r['name'] %> <span><%= r['description'] %></span></td>
      </tr>
    <% end %>
  </table>
</div> -->
