<div class='three columns'>
<table class='schedule white'>
  <tr><td colspan='2'><strong><%= @t %></strong></td></tr>
  <% @teams.each_with_index do |t,i| %>
    <tr>
      <th><%= i + 1 + @offset %>.</th>
      <td><%= t %></td>
    </tr>
  <% end %>
</table>
</div>
