body {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
}

#content {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 80pt;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

#scoreboard tr:nth-child(even) {
    background-color: #d6d6d6;
}
#scoreboard {
    width: 100%;
}

#scoreboard td {
    padding: 20px;
    position: relative;
}

td.score {
    padding-right: 30px;
}
