<div id='contact'>
  <div class='container'>

    <div class='sixteen columns'>
      <h2 class='white'><span class='lines'>Contact</span></h2>
    </div>

    <div class='clear'></div>

    <div class='eight columns'>
      <div class='contact-form'>

        <div class='done'>
          <b>Bedankt!</b> We hebben je bericht ontvangen.
        </div>

        <form method='post' action='process.php'>
          <p>naam</p>
          <input type='text' name='name' class='text' />

          <p>e-mailadres</p>
          <input type='text' name='email' class='text' id='email' />

          <p>bericht</p>
          <textarea name='comment' class='text'></textarea>

          <input type='submit' id='submit' value='Verzenden' class='submit-button' />
        </form>

      </div> <!-- end contact-form -->
    </div> <!-- end eight columns -->

    <div class='eight columns'>

      <div class='contact-info'>

        <h5>Contact Info</h5>

        <p class='white'>
        <strong>Coördinatoren 12urenloop-comité</strong><br />
        Hoofdcoördinatoren &mdash; Matthias De Wannemaeker &amp; Chanel Baert<br />
        Finance and Administration &mdash; Norah Schuermans<br />
        Public Relations &mdash; Sam Van Cleemputte<br />
        Run and Animation &mdash; Flore Goes<br />
        Marketing and Communication &mdash; Axel Baeyens<br />
        Build and Deconstruction  &mdash; Donaat Mortelmans<br />
        I(C)T &mdash; Stijn Seghers
        </p>
        <p class='white'>
        <img src='images/icn-email.png' alt='' />
        <a href='mailto:info@12urenloop.be'>info@12urenloop.be</a>
        </p>
        <p class='white'>
        <img src='images/icn-address.png' alt='' />
        Hoveniersberg 24, 9000 Gent
        </p>
      </div> <!-- end contact-info -->

      <div class='social'>
        <ul>
          <li><a href='https://twitter.com/12urenloopGent' target='_blank'><img src='images/icn-twitter2.png' alt='' /></a></li>
          <li><a href='https://www.facebook.com/12urenloop' target='_blank'><img src='images/icn-facebook2.png' alt='' /></a></li>
          <li><a href='https://www.linkedin.com/company/gentse-12urenloop' target='_blank'><img src='images/icn-linkedin.png' alt='' /></a></li>
        </ul>
      </div> <!-- end social -->

    </div> <!-- end eight columns -->

    <div class='clear'></div>

    <div class='sixteen columns'>
      <div class='copyright'>
        <p>Foto's met dank aan Katrien Verhoeye, <a href='https://www.facebook.com/eventphotographyarthurnevejan'>Arthur Nevejan</a> en <a href='https://www.facebook.com/Fotonaat.be'>Fotonaat</a><br />&copy; 2013-2016 12urenloop</p>
      </div>
    </div>

  </div> <!-- end container -->

</div> <!-- end contact -->
