<div class='container centered' id='countdown'>
  <span class='two-numbers'>
    <span id='countdown-weeks'>
      <span class='number'>0</span>
      <span class='number'>0</span>
    </span>
    <span class='number-sub'>weken</span>
  </span>
  <span class='two-numbers'>
    <span id='countdown-days'>
      <span class='number'>0</span>
      <span class='number'>0</span>
    </span>
    <span class='number-sub'>dagen</span>
  </span>
  <span class='two-numbers'>
    <span id='countdown-hours'>
      <span class='number'>0</span>
      <span class='number'>0</span>
    </span>
    <span class='number-sub'>uren</span>
  </span>
  <span class='two-numbers'>
    <span id='countdown-minutes'>
      <span class='number'>0</span>
      <span class='number'>0</span>
    </span>
    <span class='number-sub'>minuten</span>
  </span>
</div>
