<div id='locatie'>
  <div class='container'>

    <div class='sixteen columns'>
      <h2 class='white'><span class='lines'>Yachtdreef</span></h2>
    </div>

    <div class='nine columns'>
      <iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.358127852703!2d3.7001267157530737!3d51.046474779561976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c371653312d467%3A0xaacd4c55bf1abe5e!2sYachtdreef%2C+9000+Gent!5e0!3m2!1snl!2sbe!4v1460392328653' width='500' height='460' frameborder='0' style='border:0' allowfullscreen></iframe>
    </div>

    <div class='seven columns'>
      <table class='white'>
        <tr>
          <td class='campus'>Overpoort</td>
          <td class='description'>Bus 6 van Plateaustraat naar Europalaan</td>
        </tr>
        <tr>
          <td class='campus'>St.-Pietersstation</td>
          <td class='description'>Bus 9 van St.-Pietersstation naar Yachtdreef</td>
        </tr>
        <tr>
          <td class='campus'>De Sterre</td>
          <td class='description'>Bus 77 van Sterre naar St.-Pietersstation + bus 9 naar Yachtdreef</td>
        </tr>
        <tr>
          <td class='campus'>Coupure</td>
          <td class='description'>Te voet</td>
        </tr>
        <tr>
          <td class='campus'>Dunant</td>
          <td class='description'>Te voet</td>
        </tr>
        <tr>
          <td class='campus'>Ledeganck</td>
          <td class='description'>Bus 9 van Krijgslaan naar Yachtdreef</td>
        </tr>
        <tr>
          <td class='campus'>Technicum</td>
          <td class='description'>Bus 6 van Bagattenstraat naar Europalaan</td>
        </tr>
        <tr>
          <td class='campus'>Farmacie</td>
          <td class='description'>Bus 9 van Zomerstraat naar Yachtdreef</td>
        </tr>
        <tr>
          <td class='campus'>Mercator</td>
          <td class='description'>Te voet</td>
        </tr>
        <tr>
          <td class='campus'>Diergeneeskunde</td>
          <td class='description'>Bus 41 van Merelbeke Plataan naar Gent Yachtdreef</td>
        </tr>
        <tr>
          <td class='campus'>Proeftuinstraat</td>
          <td class='description'>Bus 65 van Proeftuinstraat naar Koning Albertbrug</td>
        </tr>
        <tr>
          <td class='campus'>UZ</td>
          <td class='description'>Bus 4 van UZ naar St.-Pietersstation + bus 9 naar Yachtdreef</td>
        </tr>
        <tr>
          <td class='campus'>Volderstraat</td>
          <td class='description'>Bus 22 van Zonnestraat naar Bernard Spaelaan</td>
        </tr>
        <tr>
          <td class='campus'>St.-Pietersnieuwstraat</td>
          <td class='description'>Bus 6 van Bagattenstraat naar Yachtdreef</td>
        </tr>
        <tr>
          <td class='campus'>Rommelaere</td>
          <td class='description'>Bus 6 van Bijloke naar Europalaan</td>
        </tr>
      </table>
    </div>

    <div class='clear'></div>

  </div> <!-- end container -->
</div> <!-- end about -->
