<nav>
  <ul>
    <li><a href='index.html#intro'>Home</a></li>
    <li><a href='index.html#wedstrijd'>Wedstrijd</a></li>
    <li><a href='index.html#animatie'>Animatie</a></li>
    <li><a href='index.html#contact'>Contact</a></li>
  </ul>

  <select name='dropdpown' size='1' onChange='scrollTo(this.value)'>
    <option value='' selected='selected'>Menu</option>
    <option value='#intro'>Home</option>
    <option value='#wedstrijd'>Wedstrijd</option>
    <option value='#animatie'>Animatie</option>
    <option value='#contact'>Contact</option>
  </select>
</nav>
