<div id='intro'>
  <div class='bg1'></div>
  <div class='title'>
    <div class='intro-line'></div>
    <h1>12urenloop</h1>
    <div class='intro-line'></div>
    <h1 class='small'><%= item[:date] %> @<%= item[:location] %></h1>
    <% if item[:show_livelink] %>
      <a href='https://live.12urenloop.be'><div class='button2'>Volg hier live de resultaten</div></a>
    <% end %>
    <%= render '/parts/countdown.erb' if item[:show_countdown] %>
    <div class='social-intro'>
      <ul>
        <li><a href='https://twitter.com/12urenloopGent' target='_blank' class='social-twitter'>
            Volg ons op <strong>Twitter</strong></a>
        </li>
        <li><a href='https://www.facebook.com/12urenloop' target='_blank' class='social-facebook'>
            Word fan op <strong>Facebook</strong></a>
        </li>
      </ul>
    </div>
  </div>
</div>
