<div id='wedstrijd'>
  <div class='container'>
    <h2 class='white'><span class='lines'>Wedstrijd</span></h2>

    <div class='eight columns white'>
      <p>De 12urenloop is een wedstrijd waarbij een aantal kringen het tegen elkaar opnemen in een 12 uur durende
      loopestafette. De looprichting gaat in tegenwijzerzin om de atleten onder ons gelukkig te stellen.</p>

      <p>De 12urenloop telt ook mee voor het algemeen klassement van de Interfacultaire Kampioenschappen (IFK). Na de
      loopwedstrijd volgt ook de apotheose en de prijsuitreiking van IFK.</p>

      <% teams = data_from(:teams) %>
      <% offset = (teams.length/2.0).ceil %>
      <%= render '/partials/teams.*', t: 'Loopteams', offset: 0, teams: teams[0..offset-1] %>
      <%= render '/partials/teams.*', t: '&nbsp;', offset: offset, teams: teams[(teams.length/2.0).ceil..teams.length] %>
    </div>

    <div class='eight columns'>
      <p><a href='images/wedstrijd/1.jpg' rel='prettyPhoto[gallery1]'><img src='images/wedstrijd/thumb.jpg' class='scale-with-grid' alt='' /></a></p>
      <div class='hidden'><a href='images/wedstrijd/2.jpg' rel='prettyPhoto[gallery1]'></a></div>
      <div class='hidden'><a href='images/wedstrijd/3.jpg' rel='prettyPhoto[gallery1]'></a></div>
      <div class='hidden'><a href='images/wedstrijd/4.jpg' rel='prettyPhoto[gallery1]'></a></div>
      <div class='hidden'><a href='images/wedstrijd/5.jpg' rel='prettyPhoto[gallery1]'></a></div>
      <div class='hidden'><a href='images/wedstrijd/6.jpg' rel='prettyPhoto[gallery1]'></a></div>
      <div class='hidden'><a href='images/wedstrijd/7.jpg' rel='prettyPhoto[gallery1]'></a></div>
      <div class='hidden'><a href='images/wedstrijd/8.jpg' rel='prettyPhoto[gallery1]'></a></div>
    </div>
    <p class='white'>Elk uur is er ook een speciale ronde, waarvoor elke deelnemende kring een extra punt ontvangt. Deze ludieke rondes gaan door tussen de loopwedstrijd zelf maar pas op, de uitvoering is vaak belangrijker dan de snelheid van de loper! De beste(n) van elke ronde worden beloond met naturaprijzen geschonken door onze sponsors.</p>

    <p class='white'>Dankzij de digitale rondetelling van <a href='http://zeus.ugent.be/'>Zeus</a> is het mogelijk om tijdens de wedstrijd hier live het klassement te volgen. Na het evenement wordt hier ook de eindscore bekend gemaakt.</p>

  </div>


  <div class='container'>
    <% special_rounds = data_from(:special_rounds) %>
    <%= render '/partials/special_rounds.*', t: 'Speciale rondes van vorig jaar', rounds: special_rounds[0..5] %>
    <%= render '/partials/special_rounds.*', t: '&nbsp;', rounds: special_rounds[6..11] %>
  </div>

  <div class='sixteen columns action'>
    <p class='white'>Volgend jaar ook deelnemen met jouw vereniging?</p>
    <a href='#contact'><div class='button2'>Geef ons een seintje</div></a>
  </div>
</div>
