<h3><span class='lines'>DJ-contest</span></h3>

<p>
Net zoals voorgaande jaren wordt ook een heuse DJ-contest georganiseerd waarbij
we op zoek gaan naar de beste DJ onder de Gentse studenten.  De winnaar wordt
voor 40% gekozen door het publiek via SMS, voor 25% door Urgent.fm, voor 25%
door het 12urenloop-comité en voor 10% door de likes op de Facebook-foto's.
</p>

<p>
De winnaar van de DJ-contest wordt bekend gemaakt om 22u45 en mag onmiddelijk
zijn kunsten nogmaals bewijzen tijdens de afterparty. Daarnaast mag de winnende
DJ draaien als opener op <a href='http://www.diesnatalis.be'>Dies Natalis 2017</a>!
</p>

<% if item[:show_dj_registrations] %>

  <div style='text-align: center;'>
    <a href='index.html#contact'>
      <div class='button2'>Inschrijven voor de DJ-contest</div>
    </a><br /><br />
  </div>

<% else %>

  <table class='schedule'>
    <tr><td colspan='2'><strong>Programma DJ-contest</strong></td></tr>
    <% data_from('dj-contest').each do |dj| %>
      <tr>
        <th><%= dj['time'] %></th>
        <td><%= dj['name'] %></td>
      </tr>
    <% end %>
  </table>

<% end %>

<p><img src='images/animatie/dj-contest.jpg' class='scale-with-grid' alt='DJ-contest' /></p>
