#!/usr/bin/env ruby

compile '/**/*.erb' do
  filter :erb
  layout '/default.*'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
end

route '/stylesheets/**/*' do
  "#{item.identifier.without_ext}.css"
end

route '/**/*.{erb,html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
