html {
    font-size: 16px;
}

body {
    margin: 0px auto 0px auto;
    max-width: 300px;
    padding: 6px;
}

h1 {
    text-align: center;
}

#scores ol {
    padding: 0px;
}

#scores li {
    margin-left: 30px; /* Enough space for the 1., 2... */
}

#scores li .name {
}

#scores li .laps {
    float: right;
}
