html {
    background-color: white;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
}

div#main {
    margin: 0px auto 36px auto;
    max-width: 460px;
    padding: 12px;
}

img#logo {
    border-right: 1px solid #aaa;
    float: left;
    margin: 12px 0px 12px 12px;
    padding-right: 12px;
}

div#navigation {
    float: left;
    margin: 12px;
}

div#navigation a {
    color: #555;
    display: block;
    font-size: 20px;
    margin: 3px 0px 3px 0px;
    text-decoration: none;
}

div#content {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    clear: both;
    padding: 12px 0px 12px 0px;
}

div#footer {
    font-size: 14px;
}

h1, h2, h3 {
    color: #555;
    font-weight: normal;
    margin: 12px 0px 12px 0px;
    padding: 0px 0px 0px 12px;
}

h1 {
    font-size: 24px;
    border-left: 4px solid #f87;
}

h2 {
    font-size: 20px;
    border-left: 4px solid #bd9;
}

h3 {
    font-size: 18px;
    border-left: 4px solid #5ad;
}

a {
    color: #555;
}

#scores ol {
    padding: 0px;
}

#scores li {
    margin-left: 30px; /* Enough space for the 1., 2... */
}

#scores li .name {
}

#scores li .laps {
    float: right;
}
