<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title><%= title %></title>

        <% for(i in scripts) { %>
            <script type="text/JavaScript" src="<%= scripts[i] %>"></script>
        <% } %>

        <script>
            var boxxyHost = '<%= host %>';

            var boxxy = boxxy.initialize();

                function teamLi(team) {
                    return '<li data-team="' + team.id + '">' +
                        '<span class="name">' + team.name + '</span>' +
                        '<span class="laps">' + team.laps + '</span>' +
                        '</li>'
                }

                boxxy.onUpdate = function() {
                    var byScore = boxxy.teamsByScore();
                    $('#boxxyscores').empty();
                    var ol = $(document.createElement('ol'));
                    for(var i in byScore) ol.append(teamLi(byScore[i]));
                    $('#boxxyscores').append(ol);

                    if(boxxy.notification) {
                        $('#notification').html('<p>' + boxxy.notification + '</p>');
                    }
                }

                boxxy.onPutState = function(newState) {
                    /* Called when everything is (re)set */
                }

                boxxy.onAddLap = function(lap) {
                    var li = $('[data-team="' + lap.team.id + '"]');
                    var up = $('<strong>' + ' +' + lap.count + '!' + '</strong>');
                    li.append(up);
                    up.fadeOut(5000);
                }

                boxxy.listen(boxxyHost);
        </script>

        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
    </head>
<body>
	<div id="intro">
		<div class="bg1"></div>

		<div class="title">
			<div class="intro-line"></div>
			<h1>12UL Live!</h1>
			<div class="intro-line"></div>

			<div class="social-intro">
				<ul>
					<li><a href="https://twitter.com/12urenloopGent" target="_blank" class="social-twitter">
						Volg ons op <strong>Twitter</strong></a></li>
					<li><a href="https://www.facebook.com/12urenloop" target="_blank" class="social-facebook">
						Word fan op <strong>Facebook</strong></a></li>
				</ul>
			</div>
		</div>
	</div>

	<nav>
		<ul>
			<li><a href="index.html#scores">Scores</a></li>
			<li><a href="index.html#contest">DJ Contest</a></li>
			<li><a href="index.html#speciale">Speciale rondes</a></li>
		</ul>

		<select name="dropdpown" size="1" onChange="scrollTo(this.value)">
			<option value="" selected="selected">Menu</option>
			<option value="#scores">Scores</option>
			<option value="#contest"><DJ Contest</option>
			<option value="#speciale">Speciale rondes</option>
		</select>
	</nav>

	<div id="scores">
		<div class="container">

            <div class="sixteen columns">
				<h2><span class="lines">Scores</span></h2>


                <div id="notification"></div>
                <div id="boxxyscores"><p>De scores worden geladen...</p></div>
			</div>
           

		</div>
	</div>

	<div id="separator1">
		<div class="bg2"></div>
	</div>

	<div id="contest">
		<div class="container">


            <div class="sixteen columns">
				<h2><span class="lines">DJ Contest</span></h2>

                <table class="dj-schedule">
					<tr><th>10u30</th><td>Bassick</td><th>16u30</th><td>Cultivar</td></tr>
					<tr><th>11u30</th><td>LSGHN</td><th>17u30</th><td>Blueshades</td></tr>
					<tr><th>12u30</th><td>Oscar Mike</td><th>18u30</th><td>Louis Gara</td></tr>
					<tr><th>13u30</th><td>Pulp Mixion</td><th>19u30</th><td>Dropzilla</td></tr>
					<tr><th>14u30</th><td>Supernovazz</td><th>20u30</th><td>DJ Ace</td></tr>
					<tr><th>15u30</th><td>Brains Off</td></tr>
				</table>
			</div>

            


		</div>
	</div>

	<div id="separator2">
		<div class="bg3"></div>
	</div>

	<div id="speciale">
		<div class="container">

            <div class="sixteen columns">
				<h2><span class="lines">Speciale rondes</span></h2>
                
                <table class="dj-schedule">
					<tr><th>10u15</th><td>URGENT.FM RONDE</td><td>Dansen op muziek van Urgent.FM</td></tr>
                    <tr><th>11u15</th><td>JULIENRONDE</td><td>Klein julientje volledig opeten en dan lopen</td></tr>
                    <tr><th>12u15</th><td>PROFFEN & ASSISTENTENRONDE</td><td></td></tr>
                    <tr><th>13u15</th><td>SCHAARS GEKLEDE MANNENRONDE</td><td></td></tr>
                    <tr><th>14u15</th><td>HUWELIJKSDANSRONDE</td><td>Bruid en Bruidegom in gepaste kledij!</td></tr>
                    <tr><th>15u15</th><td>GUIDO RONDE</td><td>kledij van faculteit</td></tr>
                    <tr><th>16u15</th><td>MOBILE VIKING</td><td>Vikingoutfit (rokje, schild, helm,...)</td></tr>
                    <tr><th>17u15</th><td>SKIKOT RONDE</td><td>Ski­outfit (skibroek + vest verplicht)</td></tr>
                    <tr><th>18u15</th><td>KBC RONDE</td><td>Syndroom Knokke­le­zouteronde</td></tr>
                    <tr><th>19u15</th><td>PEPSI RONDE</td><td>Draag de praesesronde</td></tr>
                    <tr><th>20u15</th><td>STADIUM RONDE</td><td>Omgekeerde tweelingenronde</td></tr>
                    <tr><th>21u15</th><td>RED BULL RONDE</td><td>Schaarsgeklede vrouwenronde</td></tr>
				</table>
			</div>

        <div class="sixteen columns">
            <div class="copyright">
                <p>Foto's met dank aan Katrien Verhoeye, <a href="https://www.facebook.com/eventphotographyarthurnevejan">Arthur Nevejan</a> en <a href="https://www.facebook.com/Fotonaat.be">Fotonaat</a><br />&copy; 2013 12urenloop</p>
            </div>
        </div>


		</div> <!-- end container -->
	</div> <!-- end about -->

	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="/js/jquery.sticky.js" type="text/javascript"></script>
	<script src="/js/jquery.inview.js" type="text/javascript"></script>
	<script src="/js/smooth-scroll.js" type="text/javascript"></script>

	<script>
		function scrollTo(target){
			var targetPosition = $(target).offset().top;
			$('html,body').animate({ scrollTop: targetPosition}, 'slow');
		}

		$(document).ready(function(){
			$('nav').sticky({topSpacing:0});
		});

	</script>
</body>
</html>