<table class='table'>
  <thead>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Motivation</td>
  </thead>
  <tbody>
    <% @motivations.each do |m| %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.email %></td>
        <td><%= m.phone %></td>
        <td><%= m.motivation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
