<div id='top' class='header hero is-fullheight'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns'>
        <div class='column has-text-centered'>
          <h1>Join the 12ul</h1>
          <a class='button is-info' href='/#info'>Meer info</a>
        </div>
        <div class='column'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='info' class='hero is-warning is-fullheight is-bold bsa'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns is-vcentered'>
        <div class='column is-12'>
          <p class='subtitle has-text-centered'>
          Join het 12urenloop comite in 1 van onderstaande teams, 
          om samen de 35ste editie van de Gentste 12urenloop op 25 april tot een goed einde te brengen.
          </p>
          <div class='columns is-multiline teams'>
            <div class='column is-4'>
              <div class='team'>
                <span class='team-name'>Beverages</span>
                Team Beverages zorgt voor alle drank op het terrein. Zware
                onderhandelingen met grote partners zoals Coca-Cola, Jet-Import,
                Diageo en andere is nog maar het begin van de voorbereiding.
                Daarnaast komt ook de logistieke inplanting van alle koeling en
                tapwagens. Jij zorgt ervoor dat alle verenigingen op het terrein hun
                drank vlot kunnen bestellen en afhalen. Maar jouw belangrijkste
                taak is ervoor zorgen dat elke student een frisse pint in zijn handen
                heeft gedurende het evenement!
              </div>
            </div>
            <div class='column is-4'>
              <div class='team'>
                <span class='team-name'>PR</span>
                Team PR is verantwoordelijk voor de samenwerking met onze
                partners. Ben jij een geboren verkoper? Heb je een gladde tong?
                Zin om in gesprek te gaan met grote bazen van allerhande
                bedrijven?
                Als lid van team PR krijg je de unieke kans om grote contracten te
                onderhandelen en om aan networking te doen in de bedrijfswereld.
                Meegevraagd worden door een partner naar een voetbalmatch is bij
                deze functie zeker geen uitzondering.
              </div>
            </div>
            <div class='column is-4'>
              <div class='team'>
                <span class='team-name'>Build And Deconstruction</span>
                Team BAD staat in voor alles wat zich op het terrein afspeelt. Dit
                gaat van het plaatsen van herashekken tot het contacteren van
                leveranciers voor tenten. Daarnaast zorgen zij er ook voor dat elke
                stand/bar/podium voorzien wordt van elektriciteit. Zij tekenen het
                grondplan van het volledige terrein en doen de contacten met stad
                Gent om alles vlot en veilig te laten verlopen. Vorig jaar heeft dit
                team een podium van maar liefst 12meter hoog gezet!! Een beetje
                crazy zijn en zin hebben om je handen uit de mouwen te steken zijn
                bij dit team dus zeker geen overbodige luxe.
              </div>
            </div>
            <div class='column is-4'>
              <div class='team'>
                <span class='team-name'>Marketing &amp; Communication</span>
                Als er iets is wat de leden van Team M&amp;C gemeenschappelijk
                hebben dan is het wel hun passie voor communicatie! Zet je oren
                en ogen maar wijd open want of het nu face to face is, tegen een
                groep journalisten, via spectaculaire affiches of gewoon online, ze
                zullen je overstelpen met informatie en acties. Als lid van
                dit team ben je dus verantwoordelijk voor alle communicatie naar de
                verenigingen en onderwijsinstelling. Het team wordt versterkt door
                een designer die zijn creativiteit mag loslaten en volledig zelf een
                affiche mag ontwerpen. Heb jij zin om op de grote banner achter het
                podium jouw hoofd te ontwerpen dan is dit je kans!
              </div>
            </div>
            <div class='column is-4'>
              <div class='team'>
                <span class='team-name'>Run &amp; Animation</span>
                Team R&amp;A heeft een zeer gevarieerd takenpakket waarbij
                creativiteit zeker van pas kan komen. Als lid van dit team werk je de
                speciale rondes uit en voorzien je de nodige randanimatie op het
                terrein. Dit kan gaan van een yoga les tot een volledige skipiste
                naast het terrein. Je zorgt ook voor enkele top dj’s zodat het feestje
                na al dat lopen volledig kan losbarsten.
              </div>
            </div>
            <div class='column is-4'>
              <div class='team'>
                <span class='team-name'>Finance</span>
                Op het einde van de rit is het uiteraard de bedoeling dat alle
                rekeningen worden betaald. Team Finance houdt de andere teams in toom,
                en zorgt ervoor dat ze zich allemaal aan de begroting houden die ze
                zelf zullen opstellen.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
