<div class='header hero is-fullheight'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns'>
        <div class='column has-text-centered'>
          <h1>Join the 12ul</h1>
        </div>
        <div class='column'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='hero is-warning is-bold bsa'>
  <div class='container'>
    <div class='columns is-vcentered'>
      <div class='column is-12'>
        <p class='subtitle'>
          De 12urenloop is toe aan zijn 35ste editie! Heb je zin om mee te werken aan deze feesteditie?
          Stuur ons dan nu je motivatie!
        </p>
      </div>
    </div>
  </div>
</div>

<div class='hero is-dark is-bold bsa'>
  <div class='container'>
    <p class='title'>
      7 fantastische teams om in te werken
    </p>
    <div class='columns is-vcentered'>
      <div class='column is-12'>
        <div class='columns is-multiline'>
          <div class='column is-3'>
            <p class='subtitle'>Site</p>
          </div>
          <div class='column is-3'>
            <p class='subtitle'>Finance & Administration</p>
          </div>
          <div class='column is-3'>
            <p class='subtitle'>Run & Animation</p>
          </div>
          <div class='column is-3'>
            <p class='subtitle'>Marketing & Communications</p>
          </div>
          <div class='column is-3'>
            <p class='subtitle'>Public Relations</p>
          </div>
          <div class='column is-3'>
            <p class='subtitle'>Beverages</p>
          </div>
          <div class='column is-3'>
            <p class='subtitle'>IT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
