<div id='top' class='header hero is-fullheight'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns'>
        <div class='column has-text-centered'>
          <h1>Join the 12ul</h1>
          <a class='button is-info' href='/#info'>Meer info</a>
        </div>
        <div class='column'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='info' class='hero is-warning is-fullheight is-bold bsa'>
  <div class='hero-body'>
    <div class='container'>
      <div class='columns is-vcentered has-text-centered'>
        <div class='column is-12'>
          <p class='subtitle'>
          De Gentse 12urenloop is het grootste sportieve en studentikoze evenement in Gent. 
          </p>
          <p class='subtitle'>
          Het takenpakket bevat veel uiteenlopende zaken,
          van het inplannen van alle verenigingen op het terrein tot het vinden van sponsors,
          van het voorzien van voldoende drank tot het bedenken en in goede banen leiden van de speciale rondes.
          </p>
          <a class='button is-info' href='/#top'>Doe mee!</a>
        </div>
      </div>
    </div>
  </div>
</div>
