html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #444;
    font-size: 24px;
    margin: 12px 0px 6px 0px;
    padding: 0px;
}

h2 {
    color: #444;
    font-size: 20px;
    margin: 12px 0px 0px 0px;
    padding: 0px;
}

div#header {
    background-color: #444;
}

div#navigation {
    margin: 0px auto 0px auto;
    padding: 6px;
    width: 700px;
}

div#navigation a {
    color: #fff;
    font-size: 20px;
    padding-right: 12px;
    text-decoration: none;
}

div#content {
    margin: 0px auto 0px auto;
    padding: 6px;
    width: 700px;
}

div#secondary {
    float: right;
    width: 200px;
}

div#footer {
    clear: both;
    margin: 18px 0px 60px 0px;
}

/*******************************************************************************
* Management                                                                   *
*******************************************************************************/

div.team {
    margin-bottom: 12px;
    width: 300px;
}

div.team div.assign form {
    float: right;
}
