html {
    font-family: sans-serif;
    font-size: 16px;
    color: #222;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #444;
    font-size: 24px;
    margin: 0px 0px 6px 0px;
    padding: 0px;
}

h2 {
    color: #444;
    font-size: 20px;
    margin: 12px 0px 0px 0px;
    padding: 0px;
}

p {
    margin: 0px 0px 12px 0px;
}

div#header {
    background-color: #444;
}

div#navigation {
    margin: 0px auto 0px auto;
    padding: 6px;
    width: 700px;
}

div#navigation a {
    color: #fff;
    font-size: 20px;
    padding-right: 12px;
    text-decoration: none;
}

div#content {
    margin: 18px auto 0px auto;
    padding: 6px;
    width: 720px;
}

div#secondary {
    float: right;
    width: 240px;
}

div#footer {
    clear: both;
    margin: 18px 0px 60px 0px;
}

span.soft {
    color: #777;
}

/*******************************************************************************
* Monitor                                                                      *
*******************************************************************************/

div#monitor div#teams {
    width: 450px;
}

div#monitor div.team {
    float: left;
    margin-right: 20px;
    width: 200px;
}

div#monitor div.team span.speed {
    font-size: 24px;
}

div#monitor div.team span.laps {
    font-size: 24px;
}

div#monitor div.team div.progress {
    border: 1px solid black;
    height: 10px;
    width: 200px;
}

div#monitor div.team div.progress div.fill {
    background-color: black;
    height: 10px;
    width: 54%;
}

/*******************************************************************************
* Management                                                                   *
*******************************************************************************/

div#management div.team {
    margin-bottom: 18px;
    width: 500px;
}

div#management div.controls {
    margin-top: 6px;
}

div#management div.team div.controls form {
    display: inline;
    margin-right: 24px;
}

/*******************************************************************************
* Bonus                                                                        *
*******************************************************************************/

div#bonus label {
    display: block;
}

div#bonus input {
    margin-bottom: 12px;
}
