div#client {
    background-color: white; 
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22px;
    text-align: center;
}

div#client h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 6px 12px 6px 12px;
}

div#client h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 6px 12px 6px 12px;
}
