/* Reusable elements across visualisations */

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
table, td, th {vertical-align: middle;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: none;}
:focus {outline: 0;}

/* General styles */
html, body { height: 100%; }
body {
  background: #FAFAFA;
  color: #444;
  font: normal 75% sans-serif;
  overflow: hidden; /* disables scrolling! */
}

#container {
  min-height: 100%;
  margin: 0 auto;
}

.fade {
  position: fixed; bottom: 0;
  height: 100px; width: 100%;
  background-image: url('assets/fade.png');
  background-repeat: repeat-x;
}
