body, html {
  padding: 0; margin: 0;
  height: 100%;
}

body {
  font: 16px/1.5 sans-serif;
  background: #666;
  -webkit-user-select:none;
}

header {
  background: #333 url('12ul.png') no-repeat 30px center;
  height: 120px;
  position: relative;
}

h1 {
  font-size: 2em; line-height: 120px;
  text-align: center;
  color: #eee;
  margin: 0;
}

#viewSwitcher, #adminButton {
  width: 100px; height: 30px;
  font-size: 1em;
  position: absolute;
  right: 30px;
}

#viewSwitcher { top: 25px; }
#adminButton { top: 65px; }

#buttonHolder {
  /* TODO: determine width @media-queries */
  width: 1024px; /* Portrait: 740px; */
  margin: 40px auto 0; padding: 0;
}

#buttonHolder > li {
  list-style: none;
  width: 190px; height: 180px;
  margin: 0 12px 36px; padding: 10px;
  display: block; float: left;
  text-align: center;
  border: rgba(0, 0, 0, .2) 1px solid;
  border-bottom:rgba(0, 0, 0, .4) 1px solid;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(0, 0, 0, .1)),
    to(rgba(255, 255, 255, .1))
  );
  background-color: #aaa;
  -webkit-transition: background 1s linear;
}

#buttonHolder > li:active, #buttonHolder > li.disabled {
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, .1)),
    to(rgba(255, 255, 255, .2))
  );
  background-color: #333;
}

#buttonHolder > li.disabled {
  -webkit-transition: none;
}

/*#buttonHolder > li:nth-child(7) {
  clear: both;
  float: none;
  margin: 24px auto;
}*/

h2 {
  font-size: 3em;
  margin: 5px 0 0 0;
}

h2 span {
  display: block;
  font-size: 0.55em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

p.laps {
  color: #222;
  font-size: 1.4em;
  margin: 10px 0 0 0;
}

#queueTable {
	margin: 0 auto;
	text-align: left;
}

#queueTable td, #queueTable th {
	color: #555;
}

#queueTable th, #queueTable thead {
	font-weight: bold;
	font-size: 14px;
}

#queueTable td {
	font-size: 12px;
	padding: 5px 8px 2px;
	vertical-align: top;
}

#overlayContent {
	background-color: #fff;
	width: 600px;
	padding: 10px;
	margin: 50px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
}

#overlayContent h1 {
	font-size: 25px;
	line-height: 30px;
	padding: 0; margin: 5px 0;
	color: #333;
}

#overlay a {
	color: #FFF;
}

#overlay {
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align: center;
	z-index: 1000;
	overflow: scroll;
}

#closeModal {
	position:absolute;
	top: -20px; right: -20px;
	padding: 10px;
	z-index:50;
}
