body, html {
  padding: 0; margin: 0;
  height: 100%;
}

body {
  font: 16px/1.5 sans-serif;
  background: #666;
  -webkit-user-select:none;
}

header {
  background: #333 url('12ul.png') no-repeat 30px center;
  height: 150px;
  position: relative;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: #eee;
  margin: 0; padding: 60px 10px;
}

#viewSwitcher, #clearButton, #adminButton {
  width: 100px; height: 30px;
  font-size: 1em;
  position: absolute;
  right: 30px;
}

#viewSwitcher { top: 20px; }
#clearButton { top: 60px; }
#adminButton { top: 100px; }

#buttonHolder {
  width: 740px;
  margin: 40px auto 0; padding: 0;
}

#buttonHolder > li {
  list-style: none;
  width: 200px; height: 180px;
  margin: 0 12px 36px; padding: 10px;
  display: block; float: left;
  text-align: center;
  border: rgba(0, 0, 0, .2) 1px solid;
  border-bottom:rgba(0, 0, 0, .4) 1px solid;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(0, 0, 0, .1)),
    to(rgba(255, 255, 255, .1))
  );
  background-color: #aaa;
  -webkit-transition: background .5s linear;
}

#buttonHolder > li:active, #buttonHolder > li.disabled {
  background: -webkit-gradient(
    linear,
    center bottom,
    center top,
    from(rgba(255, 255, 255, .1)),
    to(rgba(255, 255, 255, .2))
  );
  background-color: #333;
  -webkit-transition: none;
}

#buttonHolder > li:nth-child(7) {
  clear: both;
  float: none;
  margin: 24px auto;
}

h2 {
  font-size: 3em;
  margin: 5px 0 0 0;
}

h2 span {
  display: block;
  font-size: 0.55em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

p.laps {
  color: #222;
  font-size: 1.4em;
  margin: 10px 0 0 0;
}

#queueTable {
	border: 1px solid #E6E6E6;
	background-color: #FFF;
	margin: 0 auto;
	text-align: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#queueTable td, #queueTable th {
	border-top-color: white;
	border-bottom: 1px solid #C9C9C9;
	color: #555;
}

#queueTable th, #queueTable thead {
	padding: 8px 8px 9px;
	line-height: 1.4em;
	font-weight: bold;
	font-size: x-large;
	font-family:"Times New Roman",Georgia,Serif;
}

#queueTable td {
	font-size: large;
	padding: 5px 8px 2px;
	vertical-align: top;
}

#overlayContent h1 {
	color: #E6E6E6;
	font-size: x-large;
	padding: 10px;
}

#overlay a {
	color: #FFF;
}

#overlay {
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align: center;
	z-index: 1000;
	overflow: scroll;
}

#closeModal {
	position:absolute;
	top: 0px;
	right:0px;
	z-index:50;
}

#overlayError {
	margin: 0 auto;
	color: #FF0000;
	font-size: large;
}

#overlayError span {	
	background-color: #000;
}

#overlayQueue {
	margin: 0 auto;
}
