<div style="border: dotted #2829a2; border-width: 1px 0; padding: 5px 10px; margin-top: 20px; width: 500px;">
  <%= image_tag "logo-small", style: "float: left; margin-right: 20px;" %>
  <div>
    <div style="font-weight: bold" id="name"><%= params[:name] %></div>
    <div style=""><%= params[:function] %></div>
    <div style=""><%= params[:number] %></div>
    <div style="">www.12urenloop.be</div>
  </div>
  <div style="clear: both;" />
</div>
