<style>
input[type="text"] {
  color: #000;
}
</style>

<form action="/makesignature" class="form" style="width: 400px; margin-left: 40px;">
  <div class="field">
    <label class="label">Naam</label>
    <div class="control">
      <input name="name" type="text" class="input" />
    </div>
  </div>

  <div class="field">
    <label class="label">Functie</label>
    <div class="control">
      <input name="function" type="text" class="input" />
    </div>
  </div>

  <div class="field">
    <label class="label">GSM nummer</label>
    <div class="control">
      <input name="number" type="text" class="input" />
    </div>
  </div>

  <input type="submit" value="Make signature" class="button"/>
</form>
