<div id='regeling' class='container'>
  <h1>12urenloop</h1>

  Volgende week is het eindelijk zover en gaat het Sint-Pietersplein compleet in Gentse 12urenloop modus. 
  Wij zijn jullie nog enige uitleg verschuldigd opdat jullie op en top van alles op de hoogte zijn; bij deze! Weze gewaarschuwd, het is ‘nen serieuzen boterham’.

  <ol>
    <li>
      Jullie mogen het terrein betreden vanaf dinsdag 9u ’s ochtends. 
      Tafels en stoelen voor de inrichting van de tent worden dinsdag tussen 14 uur en 20 uur opgehaald bij de logistieke tent naast het podium. 
      Alvorens jullie dit materiaal krijgen en aan de slag mogen gaan in jullie tent, dienen jullie eerst <a href="/contract.pdf">dit algemene contract</a> te ondertekenen. 
      Gelieve dit afgeprint mee te nemen en ingevuld tegen de dag zelf. 
    </li>

    <li>
      Het juiste aantal Frigo's, taps en co² flessen zullen door het 12Urenloop comité verdeeld en aangesloten worden over alle tenten. 
      Dit zal eveneens tussen 14uur en 20uur gebeuren. 
    </li>

    <li>
      Woensdagochtend zullen we met een beurtensysteem werken voor het afhalen van de eerste drank om een enorme wachtrij te voorkomen. 
      Het afhaalpunt is de logistieke tent, deze staat links naast het podium.

      <table>
        <tr>
          <td>7:45</td><td>VTK/VLK + VRG</td>
        </tr>
        <tr>
          <td>8:00</td><td>Hermes/lila/veto + WVK</td>
        </tr>
        <tr>
          <td>8:15</td><td>Moeder Lies/VPPK + Politeia</td>
        </tr>
        <tr>
          <td>8:30</td><td>Hilok/VGK + VEK</td>
        </tr>
        <tr>
          <td>8:45</td><td>Anabolica + VLAK/Wetenschappen</td>
        </tr>
        <tr>
          <td>9:00</td><td>HK + Blandina</td>
        </tr>
        <tr>
          <td>9:15</td><td>SK + VDK/VBK</td>
        </tr>
      </table>
    </li>

    <li>
      Drank kan gedurende de volledige dag afgehaald worden aan de logistieke tent. Alle drank zal zich in een koeltrailer bevinden, u zal dus altijd gekoelde drank meekrijgen.
    </li>

    <li>
      Al het materiaal (= Stoelen , tafels , frigo's , taps, gasflessen , drank) moet VOOR 23uur teruggebracht worden naar de logistieke tent. Dit omdat de politie ons uitdrukkelijk gevraagd heeft het terrein snel te kunnen ontruimen om 01:00.    
      Zoals beloofd willen we er een topeditie van maken met nog enkele optredens om het geheel af te sluiten met een vette afterparty. Eentje dat Gent niet snel zal vergeten. 
      Maar wij begrijpen dat de winnende kring graag nog enkele gratis vaten trakteert, daarom kan deze kring in overleg met de logistiek verantwoordelijke, Jonas Nuyttens, deze vaten aan onze bar zeker nog zetten (<a href="mailto:jonas.nuyttens@12urenloop.be" target="_blank">jonas.nuyttens@12urenloop.be</a>).
    </li>

    <li>
      De speciale rondes kunnen jullie checken op <a href='12urenloop.be'>12urenloop.be</a>. Onze fotograaf en aftermovie maker is alvast klaar om alle gekke stunts voor eeuwig vast te leggen op de plaat! Alsook zal er opnieuw een prijs zijn voor de vereniging wiens tent het mooiste ingericht is! 
    </li>

    <li>
      Alle kringen moeten hun tent leeg en opgeruimd achterlaten. Bij schade aan de tent wordt een forfaitaire kost van 250 euro aangerekend.             
      Alle vuilnis moet naar de rolcontainers bij de logistieke tent gebracht worden.
    </li>

    <li>
      Enkel de verbruikte drank zal aangerekend worden op de eindfactuur. Welke drank nemen wij terug na ophaling:
      <ul>
        <li>ongeopende verpakkingen frisdrank/water/fruitsap (24 flesjes met de plastic nog rond)</li>
        <li>ongeopende flessen sterke drank</li>
        <li>ongeopende vaten</li>
        <li>alle drank die niet opgehaald is gedurende de dag zal uiteraard ook niet aangerekend worden.</li>
      </ul>
    </li>

    <li>
      Bekers worden door het 12urenloop comité voorzien.               (Shotbekers/bierbekers/nesteabekers)
    </li>

    <li>
      afspraken rond verkoop van drank:
      <ul>
        <li>verkooppijzen mogen jullie zelf bepalen, maar RedBull mag maximaal een halve euro duurder verkocht worden dan andere frisdranken.</li>
        <li>nestea is in blik, Maar wij voorzien nestea bekers om dit uit te gieten. Blik mag NIET meegegeven worden op het terrein. Wanneer dit toch gebeurt zullen jullie helaas een sanctie krijgen.</li>
        <li>pet flesjes worden zonder dopjes meegegeven.</li>
        <li>glazen flessen sterke drank worden nooit meegegeven op het terrein!</li>
        <li>er mag geen andere drank verkocht worden dan de drank die bij het 12urenloop comité is aangekocht. We kleven een boete van 20 euro per eenheid die toch verkocht wordt. Er zal wel een kraantje voorzien zijn voor het opvullen van de drankbussen voor de lopers.</li>
      </ul>
    </li>

    <li><a href="/inplantingsplan.pdf">Hier</a> kunnen jullie het inplantingsplan vinden.</li>
  </ol>

  Wij hebben er alvast goesting in!

  Tot volgende week!
</div>
