<div class='success hero is-fullheight'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns'>
        <div class='column is-4-desktop is-offset-4-desktop'>
          <div class='box'>
            <h2 class='subtitle'>Je motivatie werd goed ontvangen.</h2>
            <h2 class='subtitle'>Wij nemen begin oktober contact op voor een sollicitatiegesprek.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
