<div class='success hero is-fullheight'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns'>
        <div class='column is-4-desktop is-offset-4-desktop'>
          <div class='box'>
            <h2 class='subtitle'>Je motivatie werd goed ontvangen.</h2>
            <h2 class='subtitle'>Wij nemen begin oktober contact op voor een sollicitatiegesprek.</h2>
            <div class='columns'>
              <div class='column is-5 is-offset-1'>
                <%= link_to 'Terug', root_path, class: 'button is-fullwidth' %>
              </div>
              <div class='column is-5'>
              <a href='http://www.12urenloop.be' class='button is-fullwidth'>12urenloop.be</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
